body {
  background-color: #f0f8ff; /* Фон түсі */
  font-family: Arial, sans-serif; /* Әдемі қаріп */
  text-align: center; /* Мәтінді ортасына қою */
  margin-top: 50px;
}

h1 {
  color: darkblue;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #0077ff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

a:hover {
  background: #0055aa; /* Батырманы басқанда түс өзгереді */
}
